{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Hito Cero, Quellón</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores voluptatum quidem, veniam similique ipsam totam illo nesciunt maiores! Quibusdam impedit, dolore aliquid optio at in adipisci nesciunt perferendis sapiente unde.</p>
    </div>
    <div class="col-4">
        <img src="assets\img\hito-cero.jpg" class="img-thumbnail">

    </div>

</div>




{{> footer }}